<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<img width="200px;" style="position:absolute;right: 20px;top: -50px
;"  src="logo.png" alt="Mon logo">

    <h2>List Of Vehicules</h2>

<table>

    <tr>
        <th>Brand</th>
        <th>Capacity</th>
        <th>Status</th>
        <th>Type</th>
    </tr>
    {% for vehicule in vehicules %}
    <tr>
        <td>{{vehicule.brand}}</td>
        <td>{{vehicule.capacity}}</td>
        <td>{{vehicule.status}}</td>
        <td>{{vehicule.type}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
